sudo: false
language: node_js
cache:
  directories:
  - node_modules
notifications:
  email: false
node_js:
- iojs-v2
before_install:
- npm i -g npm@^2.0.0
before_script:
- npm prune
# after_success:
# - npm run semantic-release
