sudo: false
language: node_js
cache:
  directories:
  - node_modules
node_js:
- 4
- iojs-3
- iojs-2
- '0.12'
- '0.10'
notifications:
  email: false
before_install:
- npm i -g npm@^2.0.0
before_script:
- npm prune
after_success:
- npm run semantic-release
